// Base Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
  
  }
  
  // Button
  .btn {
    border: 2px solid #78350F;
    border-radius: 8px;
    padding: 12px;
    background-color: transparent;
    cursor: pointer;
    color: #78350F;
  }