@use 'index' as *;

// Base Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;

}

// Button
.btn {
  border: 2px solid $color-accent;
  border-radius: $radius-base;
  padding: 12px 28px;
  background-color: transparent;
  cursor: pointer;
  color: $color-accent;
}