$color-primary: #0F172A;
$color-secondary: #FFFBEB;
$color-accent: #78350F;
$color-light: #FFFFFF;
$color-muted: #E2E8F0;
$shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$shadow-heavy: 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
$radius-base: 8px;
$radius-lg: 10px;
$font-header: 800;
$font-medium: 500;
$font-regular: 400;
$line-height-base: 160%;
$line-height-tight: 110.00000000000001%;


