@use '../base/index' as *;

.articles {
    background-image: url(../images/articles/Background.png);
    background-size: cover;
    height: 705px;
  
    &__header {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      h2 {
        font-size: 56px;
        font-weight: $font-header;
        line-height: $line-height-tight;
        color: $color-primary;
      }
  
      &-icon {
        display: flex;
        align-items: center;
        // padding: 12px 0px;
        cursor: pointer;
      }
  
      &-icon img {
        width: 24px;
        height: 24px;
        margin-left: 16px;
        color: $color-accent;
  
      }
  
      &-icon span {
        font-size: 16px;
        font-weight: $font-medium;
        line-height: 24px;
        color: $color-accent;
      }
    }
  
    &__container {
      display: flex;
      height: 461px;
      gap: 24px;
      margin-top: 80px;
    }
  
  
    &__card {
      width: 25%;
      height: 461px;
      box-shadow: $shadow-light;
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid $color-muted;
      background-color: $color-light;  
      transition: transform 0.2s;
      position: relative;
  
      &:hover {
        transform: scale(1.03);
      }
  
      >img {
        width: 302px;
        height: 220px;
        object-fit: cover;
        display: block;
      }
  
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: $line-height-tight;
        color: $color-primary;
        margin-top: 32px;
        padding: 0 32px;
      }
  
      p {
        font-size: 18px;
        font-weight: $font-regular;
        line-height: $line-height-base;
        color: $color-primary;
        margin-top: 16px;
        padding: 0 32px;
      }
  
      &-button {
        // margin-left: 32px;
        // margin-top: 16px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 28px;
        left: 32px;
  
        a {
          text-decoration: none;
          font-size: 16px;
          font-weight: $font-medium;
          line-height: 24px;
           color: $color-accent;
            margin-right: 16px; 
        }
  
        .articles-icon {
          width: 24px;
          height: 24px;
          color: $color-accent;
        }
      }
    }
  }
  