.articles {
    background-image: url(../images/articles/Background.png);
    background-size: cover;
    height: 705px;
  
    &__header {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      h2 {
        font-size: 56px;
        font-weight: 800;
        line-height: 110.00000000000001%;
        color: #0F172A;
      }
  
      &-icon {
        display: flex;
        align-items: center;
        // padding: 12px 0px;
        cursor: pointer;
      }
  
      &-icon img {
        width: 24px;
        height: 24px;
        margin-left: 16px;
        color: #78350F;
  
      }
  
      &-icon span {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #78350F;
      }
    }
  
    &__container {
      display: flex;
      height: 461px;
      gap: 24px;
      margin-top: 80px;
    }
  
  
    &__card {
      width: 25%;
      height: 461px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      transition: transform 0.2s;
      position: relative;
  
      &:hover {
        transform: scale(1.03);
      }
  
      >img {
        width: 302px;
        height: 220px;
        object-fit: cover;
        display: block;
      }
  
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 110.00000000000001%;
        color: #0F172A;
        margin-top: 32px;
        padding: 0 32px;
      }
  
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;
        color: #0F172A;
        margin-top: 16px;
        padding: 0 32px;
      }
  
      &-button {
        // margin-left: 32px;
        // margin-top: 16px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 28px;
        left: 32px;
  
        a {
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: #78350F;
          margin-right: 16px;
        }
  
        .articles-icon {
          width: 24px;
          height: 24px;
          color: #78350F;
        }
      }
    }
  }
  