.because {
    // background: linear-gradient(180deg, #FFFBEB 0%, #FFFFFF 89.63%);
    background-color: #ffffff;
    height: 732px;
    position: relative;
  
    &-icon {
      width: 48px;
      height: 48px;
    }
  
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 80px;
  
      h2 {
        font-size: 56px;
        font-weight: 800;
        line-height: 110.00000000000001%;
        color: #0F172A;
        // margin-top: 80px;
        margin-bottom: 80px;
      }
  
      &-icon {
        cursor: pointer;
      }
    }
  
    .grid.wide {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
    }
  
    &__container {
      background-color: #FDE68A;
      // background-position: center;
      height: 421px;
  
    }
  
    &-card:first-child {
      margin-left: 80px;
  
    }
  
    &-card {
      height: 430px;
      width: calc(100% / 3);
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      border-radius: 20px;
      border: 1px solid #ccc;
      margin-top: 40px;
      margin-right: 24px;
  
      &:nth-of-type(3) {
        margin-right: 80px;
      }
  
      &__header {
        display: flex;
        padding: 32px 32px 0 32px;
        align-items: center;
      }
  
      &__image {
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
  
      &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 110.00000000000001%;
      }
  
      &__description {
        font-size: 24px;
        font-weight: 400;
        line-height: 160%;
        // margin-left: 32px;
        // margin-bottom: 16px;
        padding: 16px 32px;
      }
  
      &__user {
        display: flex;
        align-items: center;
        // padding: 16px;
        padding-left: 32px;
  
        img {
          width: 64px;
          height: 64px;
          border-radius: 100px;
          object-fit: cover;
          margin-right: 6.5px;
        }
      }
  
  
      &__user-info {
        display: flex;
        flex-direction: column;
  
        p {
          font-size: 18px;
          font-weight: 400;
          color: #000000;
          line-height: 160%;
        }
  
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          color: #475569;
        }
      }
  
    }
  
  
  }
  