@use '../base/index' as *;

.grow {
    background-image: url(../images/grow/BackGround.png);
    height: 961px;
    background-size: cover;

    h2 {
      font-size: 56px;
      font-weight: $font-header;
      color: $color-primary;
      line-height: $line-height-tight;
    }
  
    p {
      font-weight: $font-regular;
      font-size: 18px;
      color: $color-primary;
      line-height: $line-height-base;
      margin-top: 32px;
    }
  
    &__sidebar {
      display: flex;
      margin-top: 80px;
  
      ul {
        margin-right: 80px;
        list-style-type: none;
  
        li {
          min-width: 256px;
          display: flex;
          align-items: center;
          padding: 16px;
          span {
            font-size: 20px;
            font-weight: $font-medium;
            color: $color-primary;
            line-height: 24px;
  
            margin-left: 16px;
          }
    
          img {
            width: 24px;
            height: 24px;
          }
        }
    
        li:not(:first-child) {
          margin-top: 16px;
          margin-bottom: 16px;
    
        }
    
        li:first-child {
          box-shadow: $shadow-light;
          margin-bottom: 16px;
          border-radius: 8px;
          span{
            margin-right: 8px;
          }      
    
        }
      }
  
      .grow__image {
        img {
          // width: 944px;
          // height: 556px;
          max-width: 100%;
          object-fit: cover;
        }
        &--mobile{
          display: none;
        }
      }
    }
  
  }
  