@use '../base/index' as *;

.map {
  background-image: url(../images/map/BackgroundPC.png);
  height: 717px;
  background-size: cover;

  &__image {
    display: flex;
    flex-direction: column;
    // position: absolute;
    margin-left: 255px;

    img {
      width: 256px;
      height: 200px;
    }

    &--description {
      background-color: #E2E8F0;
      height: 64px;
      width: 250px;
      border-radius: 5px;
      padding: 16px 16px 8px 16px;
    }

    span {
      font-size: 14px;
      font-weight: $font-regular;
      line-height: 140%;
      color: $color-primary;
    }
  }


  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 96px;
    font-weight: $font-header;
    line-height: $line-height-tight;
    color: $color-secondary;
  }

  h3 {
    font-size: 56px;
    font-weight: 800;
    color: $color-secondary;
    text-align: center;
  }
}