.map {
    background-image: url(../images/map/BackgroundPC.png);
    height: 717px;
    background-size: cover;
  
    &__image {
      display: flex;
      flex-direction: column;
      // position: absolute;
      // margin-left: 255px;
      align-items: center;
      position: relative;
      right: 368px;
      top: 10px;
  
  
      >img {
        width: 256px;
        height: 200px;
      }
  
      &-sub {
        position: absolute;
        top: 94%;
        z-index: 1;
  
        img:nth-of-type(2) {
          width: 12px;
          height: 6px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
  
        }
  
        img:nth-of-type(1) {
          width: 32px;
          height: 32px;
        }
  
      }
  
      &--description {
        background-color: #E2E8F0;
        height: 64px;
        width: 250px;
        border-radius: 5px;
        padding: 16px 16px 8px 16px;
        z-index: 2;
  
      }
  
      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        color: #0F172A;
      }
    }
  
  
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    p {
      font-size: 96px;
      font-weight: 800;
      line-height: 110.00000000000001%;
      color: #FFFBEB;
    }
  
    h3 {
      font-size: 56px;
      font-weight: 800;
      color: #FFFBEB;
    }
  }