//Navbar

@use '../base/index' as *;

.navbar {
    // background: linear-gradient(180deg, #FFFBEB 0%, #FFFFFF 89.63%);
    background-color: $color-secondary;
    // padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  
    img {
      display: none;
    }
  
    &__container {
      display: flex;
      align-items: center;
    }
  
    &__logo {
      font-size: 32px;
      font-weight: $font-header;
      color: $color-accent;
    }
  
    .navbar__links {
      list-style: none;
      display: flex;
      align-items: center;
  
      li {
        padding: 24px 16px;
  
        a {
          font-weight: $font-medium;
          font-size: 16px;
          text-decoration: none;
          color: $color-accent;
          transition: color 0.3s;
          line-height: 24px;
        }
      }
    }
  }
  