.why-join {
    background: linear-gradient(180deg, #FFFBEB 0%, #FFFFFF 89.63%);
    background-color: #FFFBEB;
    height: 816px;
    display: flex;
    // min-width: 1440px;
  
    >img {
      display: none;
    }
  
    &__content {
      margin-left: 80px;
  
      h2 {
        font-size: 56px;
        font-weight: 800;
        line-height: 110.00000000000001%;
        color: #0F172A;
      }
      ul {
        margin-top: 24px;
      }
  
      li {
        display: flex;
        align-items: center;
        list-style-type: none;
    
    
        span {
          font-size: 20px;
          font-weight: 400;
          line-height: 180%;
        }
      }
    }
  
    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 6px;
    }
   
  
    .btn {
      margin-top: 24px;
      padding: 16px 32px;

      a {
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
        color: #78350F;
        transition: color 0.3s;
        line-height: 24px;
      }
    }
  
    &__video {
      img {
        max-width: 100%;
        object-fit: cover;
        margin-right: 80px;
        border: 5px solid #FFFFFF;
        box-shadow: 0px 0px 15px 0px #00000012;
        // box-shadow: 0px 25px 50px -12px #00000040;
        border-radius: 25px;

      }
  
    }
  
  
    &__container {
      background-image: url(../../assets/images/why-join/Background.png);
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // max-width: 1280px;
      min-width: 1280px;
      // width: 100%;
      height: 612px;
      margin: auto;
    }
  }
  